.popup {
    color: black;
    padding: 20px;
    display: none;
    opacity: 1;
    width: 50%;
    min-width: 400px;
    min-height: 400px;
    margin-left: 20%;
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    z-index: 7;
    position: fixed;
}

.closeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
}

.bookPictureInPopup {
    min-width: 300px;
    height: 200px;
}

.bookDescription {
    font-size: 0.9em;
    width: 60%;
}

.price {
    font-size: 20px;
    width: 95%;
    text-align: left;
    font-weight: bold;
}