<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
    <link href="../static/css/popup.css" th:href="@{/css/popup.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/index.js" th:src="@{js/index.js}" type="text/javascript"></script>
    <script src="../static/js/popup.js" th:src="@{js/popup.js}" type="text/javascript"></script>
    <script src="../static/js/searchBook.js" th:src="@{js/searchBook.js}" type="text/javascript"></script>
    <script src="../static/js/cart.js" th:src="@{js/cart.js}" type="text/javascript"></script>
</head>
<body>

<div class="userMenu">
    <div class="userName"> Welcome, <span id="login" th:text="${login}">Name</span>!</div>
    <div class="menuButtonsPosition">
        <form th:if="${role}==MANAGER" th:method="GET" th:action="@{/createBook}">
            <button class="menuButtons" type="submit">Создать книгу</button>
        </form>
        <form th:method="GET" th:action="@{/logout}">
            <button class="menuButtons" type="submit">Выйти</button>
        </form>
    </div>
</div>

<form class="redirectIcon" th:if="${role}!=MANAGER" th:method="GET" th:action="@{/cart}">
    <button class="imageBackground" style="cursor: pointer">
        <span class="material-icons md-48">shopping_cart</span>
        <span class="itemCounter" id="counter">0</span>
    </button>
</form>

<h1 id="bookName">BookShop</h1>

<div class="formPosition">
    <input class="filterLine" id="name" type="text" placeholder="Название"/>
    <input class="filterLine" id="author" type="text" placeholder="Автор"/>
    <select class="dropList" id="genre">
        <option value="">Жанр</option>
        <option value="Детектив">Детектив</option>
        <option value="Роман">Роман</option>
        <option value="Драма">Драма</option>
        <option value="Научная фантастика">Научная фантастика</option>
    </select>
    <input class="filterLine" id="price" type="text" placeholder="Цена до"/>
    <button class="searchButton" id="searchButton">Искать</button>
</div>

<hr/>

<form class="popup" id="popup">
    <div class="closeIcon">
        <a><span class="material-icons" style="cursor: pointer">close</span></a>
    </div>
    <img class="bookPictureInPopup" src="../static/img/book.jpg" th:src="@{img/book.jpg}">
    <div class="bookDescription">
        <h3 class="bookName" id="bookNameInPopup">Book Name</h3>
        <p>Автор: <span id="bookAuthorInPopup"></span></p>
        <p>Жанр: <span id="bookGenreInPopup"></span></p>
        <p>Год: <span id="bookPublishYearInPopup"></span></p>
        <hr/>
        <p>Описание: <span id="bookDescriptionInPopup"></span></p>
        <p class="price">Стоимость: <span id="bookPriceInPopup"></span> руб</p>
        <a class="menuButtons" th:if="${role}!=MANAGER" id="addToCart" style="cursor: pointer">Добавить</a>
        <a th:if="${role}==MANAGER" class="menuButtons" id="deleteBook" style="cursor: pointer">Удалить книгу</a>
    </div>
</form>

<div class="booksDisplay">
    <div th:each="book : ${books}">
        <button class="imageBackground bookEntity" th:value="${book.getName()}">
            <div class="bookPanel">
                <div class="bookPictureWrapper">
                    <img class="bookPicture" src="../static/img/book.jpg" th:src="@{img/book.jpg}">
                </div>
                <h3 class="bookName" th:text="${book.getName()}">BookName</h3>
            </div>
        </button>
    </div>
</div>


</body>
</html>